$main-font: 'Nunito', sans-serif;

$main-color: #4B4B7C;
$dark-color: #1F1F33;
$green-color: #00A896;
$red-color: #E3170A;

$border-color: #E1E1ED;
$disabled-color: #E1E1ED;

$disabled-text-color: #8181B1;

$white: #FFFFFF;

$bg-light: #F9F9FB;